<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Views/StartPageView.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-9BLJ8DU;Initial Catalog=recipes;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
