body {
    margin:0px;
    font-family: 'Segoe UI Light' ;
}
/*Menu styles*/
header{
    width:100%;
    background:#207fbf;
}
#btn-menu{
    display:none;
}
header label{
    display:none;
    width:30px;
    height:30px;
    padding:10px;
}
header label:hover{
    cursor:pointer;
    background:rgba(0,0,0,0.3);
}
#menu-img{
    width:30px;
    height:30px;
}
.menu ul{
    margin:0px;
    list-style:none;
    padding:0px;
    display:flex;
    justify-content:center;
}
.menu li{
    
}
.menu li a{
    display:block;
    padding:15px 20px;
    color:#fff;
    text-decoration:none;
}
.menu li a:hover {
    background:rgba(0,0,0,0.3);
}
.menu li ul{
    display:none;
    position:absolute;
}
.menu li:hover >ul{
    display:block;
    background:#207fbf;
}
#lblusername{
    float:right;
    margin-right:20px;
    font-size:25px;
}

/*THESE STYLES ARE USED WHEN DISPLAY WIDTH IS LESS THAN 768px*/
@media(max-width:768px){
    header label{
        display:block;
    }
    .menu{
        position:absolute;
        background:#207fbf;
        width:70%;
        margin-left:-70%;
        transition:all 0.5s;
    }
    .menu ul{
        flex-direction:column;
    }
    .menu li{
        border-top:1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin:0;
    }
    #lblusername{
    float:right;
    margin-right:20px;
    font-size:15px;
}
}

/*--------------------------------------------------------*/
